.red {
    background-color: red;
    color: lightskyblue;
}

.blue {
    background-color: royalblue;
    color: salmon;
    margin: 10px 20px;
    padding:20px;
    border:10px so skyblue
    

}

.green {
    background-color:green;
    color: palevioletred;
}

.spagety {
    background-color: yellow;
}

.kecup {
    background-color: tomato;
}