.vlajka {
    margin: 300px 0px 0px 300px;
}
.cerna {
    background-color: black;
    color:black;
    width: 500px;
    height: 100px;
}

.cervena{
    background-color: red;
    color:red;
    width: 500px;
    height: 100px;
}

.zluta {
    background-color: yellow;
    color: yellow;
    width: 500px;
    height: 100px;
    
}
